# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Rojo build files
*.rbxm
*.rbxmx
*.rbxl
*.rbxlx

# old references
/old
/asd

*.code-workspace

sourcemap.json

# Output of test runners
output.bmp
unifont-*.hex

# darklua output
/out
/build
